.vs/FokWPF/v15/.suo
FokWPF/Properties/Resources.resx
FokWPF/bin/Debug/FokWPF.exe
FokWPF/bin/Debug/FokWPF.exe.config
FokWPF/bin/Debug/FokWPF.pdb
FokWPF/obj/Debug/App.g.cs
FokWPF/obj/Debug/App.g.i.cs
FokWPF/obj/Debug/CoreCompileInputs.cache
FokWPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FokWPF/obj/Debug/FokWPF.Properties.Resources.resources
FokWPF/obj/Debug/FokWPF.csproj.FileListAbsolute.txt
FokWPF/obj/Debug/FokWPF.csproj.GenerateResource.Cache
FokWPF/obj/Debug/FokWPF.csprojResolveAssemblyReference.cache
FokWPF/obj/Debug/FokWPF.exe
FokWPF/obj/Debug/FokWPF.g.resources
FokWPF/obj/Debug/FokWPF.pdb
FokWPF/obj/Debug/FokWPF_MarkupCompile.cache
FokWPF/obj/Debug/FokWPF_MarkupCompile.i.cache
FokWPF/obj/Debug/FokWPF_MarkupCompile.lref
FokWPF/obj/Debug/GeneratedInternalTypeHelper.g.cs
FokWPF/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
FokWPF/obj/Debug/MainWindow.g.i.cs
FokWPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FokWPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FokWPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FokWPF/obj/Debug/Views/MainNewsView.baml
FokWPF/obj/Debug/Views/MainNewsView.g.cs
FokWPF/obj/Debug/Views/MainNewsView.g.i.cs
FokWPF/obj/Debug/Views/MainWindow.g.i.cs
